@charset "utf-8";
/* CSS Document */

/*主导航*/
.nav .nav_center ul li.nav_01{
	background:url(../images/nav_01.gif) top no-repeat; border-left:none; width:115px; margin-left:0;
}
.nav .nav_center ul li.nav_02{
	background:url(../images/nav_02.gif) bottom no-repeat;
}
.nav .nav_center ul li.nav_08{
		width:162px;
}
/*主体右边文章部分*/
.right .article{
	padding:25px 0 25px 15px;
}