@charset "utf-8";
/*主导航*/
.nav .nav_center ul li.nav_01{
	background:url(../images/nav_01.gif) top no-repeat; border-left:none; width:115px; margin-left:0;
}
.nav .nav_center ul li.nav_03{
	background:url(../images/nav_03.gif) bottom no-repeat;
}
.nav .nav_center ul li.nav_08{
		width:162px;
}
/*主体右边文章部分*/

.article {
	margin:30px 30px 0 60px;
}
.article .product_title{
	text-align:center; height:45px; color:#5f5f5f;
}
.article .product_img{
	padding-left:210px; 
}
.article .product_main{
	margin:16px 5px 90px 0; line-height:18px; color:#5f5f5f;
}
.article .product_main p span{
	font-size:17px; line-height:15px; _font-size:14px; _line-height:15px;
}